      *{
      font-size: 23px;
      }
      .fisica{
      font-size: .7em;
      display:inline-block;
      text-align: center !important;
      padding: 10px;
      width: 47%;
      }
      .titulo{
      font-size: 1em;
      display: block;
      overflow: hidden;
      text-align: center;
      width: 100%;
      }
      .volver{
      font-size: .9em;
      text-align: center !important;
      display:inline-block;
      padding: 10px;
      width: 47%;
      }
      .nav{
      padding: .3em !important;
      margin: 0 !important;
      }
      .title{
      font-size: 1em;
      }
      p{
      font-size:.7em;      
      }
.table{
  font-size: .7em;
}
th,td{
  font-size: .7em;
  text-align: center;
  color: black;
  border: 1px solid #6a1b9a;
}
.tri{
height: 7em !important;
text-align: center !important;
}
.med{
font-size: .7em;
}
.res{
  color:#f4f4f4 !important;
  text-align: center !important;
}
.top{
  padding-top: 33px;
}
center{
  font-size: 1em;
}
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}
.liol{
  font-size: 13px;
}
@media screen and (max-width: 770px){
        *{
        font-size: 17px;
        } 
        .fisica, .volver{
          display: block !important;
          width: 100% !important;
        }

      }
@media screen and (max-width: 477px){
        *{
        font-size: 13px;
        }
       
      }