
<!DOCTYPE html>
  <html lang="es">
    <head>
    <meta charset="UTF-8">
      <title>Movimiento Rectilineo Uniforme</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="css/mru.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

  <body>
      <!-- Navbar goes here -->
    <nav class="nav-extended nav-center blue darken-3">
      <div class="nav">
        <a href="http://www.susyfis.esy.es" class="fisica hoverable">Introducción a la Fisica</a>
        <a href="../../index.html" class="volver hoverable">Volver a Inicio</a>
        <h1 class="titulo">Movimiento Rectilineo Uniforme</h1>
      </div>
      <div class="nav-content blue darken-1">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a class="active" href="#general">General</a></li>
          <li class="tab"><a href="#distancia">Distancia</a></li>
          <li class="tab"><a href="#tiempo">Tiempo</a></li>
          <li class="tab"><a href="#velocidad">Velocidad</a></li>
        </ul>
      </div>
    </nav>
    <div id="general" class="col s12">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="center top">Triangulo grafico para realizar el calculo</div>
            <div class="triangulo">
              <img src="img/trimpu.png" alt="triangulo movimiento rectilineo uniforme" class="tri">
            </div>
            <p class="text">Para calcular se tapa el dato que se quiere obtener y los otros dos restantes en caso de estar en la misma linea se multiplican, si estan uno arriba de otro se dividen.</p>
          </div>
          <div class="col s12">
            <div class="center">Medidas</div>
            <section class="med">
            d=distancia( m=metros , km=kilometros)
            <br />
            t=tiempo(s=segundos , h=horas)
            <br>
            v=velocidad(m/s , km/h)
            <br>
            Premisas:
            <br>
            a=aceleración(La aceleración siempre sera cero y constante.)
            <br>
            la velocidad es constante
            </section>
          </div>
          <div class="col s12">
            <div class="center">Formulas</div>
            <section class="med">
            t= d/v
            <br>
            d= t(v)
            <br>
            v= d/t
            </section>
          </div>
        </div>
      </div>
    </div>

    <div id="distancia" class="col s12">
      <div class="container">
        <div class="row">
          <h3 class="title center">
            Calculo de la Distancia
          </h3>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="dt" type="text" class="validate">
                  <label for="dt">Tiempo</label>
                </div>
                <div class="input-field col s6">
                  <input id="dv" type="text" class="validate">
                  <label for="dv">Velocidad</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light" id="bd">Realizar calculo<i class="material-icons right">send</i></button>
              </div>
            </form>
            <div class="row">
              <div class="col s12"><div id="rd"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="velocidad" class="col s12">
      <div class="container">
        <div class="row">
          <h3 class="title center">
            Calculo de la Velocidad
          </h3>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="vd" type="text" class="validate">
                  <label for="vd">Distancia</label>
                </div>
                <div class="input-field col s6">
                  <input id="vt" type="text" class="validate">
                  <label for="vt">Tiempo</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light" id="bv">Realizar calculo<i class="material-icons right">send</i></button>
              </div>
            </form>
            <div class="row">
              <div class="col s12"><div id="rv"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tiempo" class="col s12">
      <div class="container">
        <div class="row">
          <h3 class="title center">
            Calculo del Tiempo
          </h3>
        <div class="row">
          <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="td" type="text" class="validate">
            <label for="td">Distancia</label>
          </div>
          <div class="input-field col s6">
            <input id="tv" type="text" class="validate">
            <label for="tv">Velocidad</label>
          </div>
        </div>
       <div class="row">
         <button class="btn waves-effect waves-light" id="bt">Realizar calculo<i class="material-icons right">send</i></button>
       </div>
          </form>
        <div class="row">
          <div class="col s12"><div id="rt"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
  <footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="center med">Universidad de Guadalajara</div>
      <div class="center med">CUCEI</div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container author center med">
     ©2017 Luis Angel Muñoz Franco (<span class="med">FenixAlive</span>)
    </div>
  </div>
  </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
      <script src="js/mru.js"></script>
  </body>
</html>


