
<!DOCTYPE html>
  <html lang="es">
    <head>
    <meta charset="UTF-8">
      <title>Tiro Parabolico</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="css/mru.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

  <body>
      <!-- Navbar goes here -->
    <nav class="nav-extended nav-center purple darken-3">
      <div class="nav">
        <a href="http://www.susyfis.esy.es" class="fisica hoverable">Introducción a la Fisica</a>
        <a href="../../index.html" class="volver hoverable">Volver a Inicio</a>
        <h1 class="titulo center">Tiro Parabolico</h1>
      </div>
      <div class="nav-content purple darken-1">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a class="active" href="#general">General</a></li>
          <li class="tab"><a href="#vel" class="">Velocidad</a></li>
          <li class="tab"><a href="#altura" class="">Altura y Distancia</a></li>
          <li class="tab"><a href="#tiempo" class="">Tiempo</a></li>
          <li class="tab"><a href="#tabla" class="">Tabla</a></li>
        </ul>
      </div>
    </nav>
    <div id="general" class="col s12">
      <div class="container top">
        <div class="row">
          <div class="col s12">
            <div class="center">Premisas</div>
            <section class="med">
            Vi > 0
            <br>
            Vf = 0
            <br>
            ° = angulo.
            <br>
            En este movimiento vamos a necesitar el angulo de tiro y se deberá descomponer el movimiento en su eje x y eje y
            <br />
            g= Gravedad (Para estos ejercicios se tomará un valor de 9.81 m/s²)
            <br>
            El movimiento se descompone en X como un mru y en Y como un mrua.
            <br>
            </section>
          </div>
          <div class="col s12">
            <div class="center top">Formulas</div>
            <section class="med">
            <br>
            <center>Para X</center>
            <br>
            Vix = Vi(cos°)  
            <br>
            Vx = Vix  
            <br>
            dx = (Vix)t
            <br>
            h = Vi(t)-0.5(g)t²
            <br>
            <center>Para Y:</center>
            <br>
            Viy = Vi(sen°)
            <br>
            Vy = (Viy)-g(t) (Velocidad en un punto en el tiempo)
            <br>
            h = Viy(t)-0.5(g)t²
            <br>
            <center>En General</center>
            <br>
            t = √2h/g
            <br>
            t = Viy/g
            <br>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div id="vel" class="col s12">
      <div class="container">
        <div class="row">
          <h3 class="title center">
            Calculo de la Velocidad Inicial por eje
          </h3>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="vi" type="text" class="validate">
                  <label for="vi">Velocidad Inicial</label>
                </div>
                <div class="input-field col s6">
                  <input id="va" type="text" class="validate">
                  <label for="va">Angulo</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light purple darken-3" id="bv">Realizar calculo<i class="material-icons right">send</i></button>
              </div>
            </form>
            <div class="row">
              <div class="col s12"><div id="rv"></div></div>
            </div>
          </div>
          <h3 class="title center">
            Calculo de la Velocidad en un tiempo especifico por eje.
          </h3>
          <br>
          <p>Vx (para cualquier tiempo)= Vix (ya calculada arriba)</p>
          <br>
          <p>Velocidad en Y: </p>
          <br>
          <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="vyi" type="text" class="validate">
                  <label for="vyi">Velocidad Inicial en Y</label>
                </div>
                <div class="input-field col s6">
                  <input id="vyt" type="text" class="validate">
                  <label for="vyt">Tiempo</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light purple darken-3" id="bvy">Realizar calculo<i class="material-icons right">send</i></button>
              </div>
            </form>
            <div class="row">
              <div class="col s12"><div id="rvy"></div></div>
            </div>
        </div>
      </div>
    </div>
    <div id="altura" class="col s12">
      <div class="container">
        <div class="row">
          <h3 class="title center">
            Calculo de la Distancia (distancia Eje X)
          </h3>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="hvix" type="text" class="validate">
                  <label for="hvix">Velocidad Inicial en X</label>
                </div>
                <div class="input-field col s6">
                  <input id="htx" type="text" class="validate">
                  <label for="htx">Tiempo</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light purple darken-3" id="bhx">Realizar calculo<i class="material-icons right">send</i></button>
              </div>
            </form>
            <div class="row">
              <div class="col s12"><div id="rhx"></div></div>
            </div>
          </div>
          <h3 class="title center">
            Calculo de la Altura (distancia Eje Y)
          </h3>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="hviy" type="text" class="validate"> 
                  <label for="hviy">Velocidad Inicial en Y</label>
                </div>
                <div class="input-field col s6">
                  <input id="ht" type="text" class="validate">
                  <label for="ht">Tiempo</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light purple darken-3" id="bhy">Realizar calculo<i class="material-icons right">send</i></button>
              </div>
            </form>
            <div class="row">
              <div class="col s12"><div id="rhy"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tiempo" class="col s12">
      <div class="container">
        <div class="row">
          <h3 class="title center">
            Calculo del Tiempo
          </h3>
          <div class="row">
            <form class="col s12">
              <div class="row">
              <br>
                <div class="input-field col s6">
                  <input id="tvi" type="text" class="validate">
                  <label for="tviy">Velocidad Inicial en Y</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light purple darken-3" id="bt">Realizar calculo<i class="material-icons right">send</i></button>
              </div>
            </form>
            <div class="row">
              <div class="col s12"><div id="rt"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tabla" class="col s12">
      <div class="container">
        <div class="row">
          <h3 class="title center">
            Tabla de Resultados en 10 distintos puntos.
          </h3>
          <div class="row">
            <form class="col s12">
              <div class="row">
              <br>
                <div class="input-field col s6">
                  <input id="tavi" type="text" class="validate">
                  <label for="tavi">Velocidad Inicial</label>
                </div>
                <div class="input-field col s6">
                  <input id="taa" type="text" class="validate">
                  <label for="taa">Angulo</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light purple darken-3" id="bta">Realizar calculo<i class="material-icons right">send</i></button>
              </div>
            </form>
            <div class="row">
              <div class="col s12"><div id="rta"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <footer class="page-footer purple">
  <div class="container">
    <div class="row">
      <div class="center med">Universidad de Guadalajara</div>
      <div class="center med">CUCEI</div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container author center med">
     ©2017 Luis Angel Muñoz Franco (<span class="med">FenixAlive</span>)
    </div>
  </div>
  </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
      <script src="js/tiroParabolico.js"></script>
  </body>
</html>